*{

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    padding: 0rem;
    margin: 0rem;
}

.login-container{
    /*border: 2px solid black;*/
    border-radius: 0.5rem;
    margin-inline: auto;
    margin-top: 8rem;
    max-width: 25rem;
    padding: 1rem;
    box-shadow: 0 4px 12px grey;

}

.logo span{
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 1rem;
}

.error-container{
    height: 2rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.login-container form{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.login-container form input{
    margin-bottom: 1.5rem;
    border: none;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 4px;
    height: 3rem;
}

.login-container form input[type="submit"]{
    border: none;
    background: #91fa9b;
    cursor: pointer;
    font-weight: bold;
}

.login-container form input[type="submit"]:hover{

    background: #5cf76b;
}

.link{
    text-align: center;
    margin-bottom: 1rem;
}
